@media(max-width:1300px){
    .container{
        width: 95%;
    }
}
@media(max-width:1160px){
    .navigation {
        display: none;
    }
    .burgerbar{
        display: inline-block;
       
    }
    /**********************************************/
   @media(max-width:1160px){
    .tbilisi{
        width: 100%;
        height: 100%;
    }
   }
    @media(max-width:800px){
        .section-1{
            display: flex;
            flex-direction: column;
            margin: 0 7px;
        
        }   
       @media(max-width: 800px){
        .mainimage{
            width: 100%;
            height: 100%;
        }
       }
      
       }
       @media(max-width:1280px){
        .nature1{
            display: none;                
      }
    }
    }
    @media(max-width:1160px){
        .photos-1{
            gap:20px;
           display: flex;
           justify-content: space-around;
        }
        @media(max-width:790px){
            .photos-1{
                display: flex;
                flex-direction:column;
                
            }
        }
        @media(max-width:790px){
            .nature{
                width: 100%;
                height: 100%;
            }
        }
}
